{% extends 'base.html.twig' %}

{% block body %}

<div id="categorieTitle"> 
    <h1>Les offres en musique</h1>
</div>

<div id="annonces">
    {% for prestaMusic in prestaMusic %}
        <div id="annonce">
            <p class="pix">{{ prestaMusic.image }}</p>
            <h3 class="categorie">{{ prestaMusic.categorie }}</h3>
            <p class="identity">{{ prestaMusic.nom }} {{ prestaMusic.prenom }}</p>
            <p>Description: {{ prestaMusic.information }} </p>

            <a href="#">Plus d'information</a>
            
        
        </div>
{% endfor %}
</div> 

<div class="navigation">
    {{ knp_pagination_render(prestaMusic) }}
</div>
{% endblock %}
