{% extends 'base.html.twig' %}

{% block body %}

<div id="categorieTitle"> 
    <h1>Les offres en photo</h1>
</div>

<div id="annonces">
    {% for prestaPix in prestaPix %}
        <div id="annonce">
            <p class="pix">{{ prestaPix.image }}</p>
            <h3 class="categorie">{{ prestaPix.categorie }}</h3>
            <p class="identity">{{ prestaPix.nom }} {{ prestaPix.prenom }}</p>
            <p>Description: {{ prestaPix.information }} </p>

            <a href="#">Plus d'information</a>
            
        
        </div>
{% endfor %}
</div> 

<div class="navigation">
    {{ knp_pagination_render(prestaPix) }}
</div>
{% endblock %}
