{% extends 'base.html.twig' %}


{% block body %}

<div id="categorieTitle"> 
    <h1>Les offres en informatique</h1>
</div>

<div id="annonces">
        {% if regCvl is empty %}
            Pas d'annonce dans cette région pour le moment
        {% else %}
            {% for centreValDeLoire in regCvl %}
                <div id="annonce">
                    <p class="pix"><img src ={{ asset('build/catIT.jpg') }} width="350px" height="200px" alt=""></p>
                    <h3 class="categorie">{{ centreValDeLoire.categorie }}</h3>
                    <p class="identity">{{ centreValDeLoire.nom }} {{ centreValDeLoire.prenom }} - {{ centreValDeLoire.region }}</p>
                    <p class="new">Prétentations salariale: {{ centreValDeLoire.pretentions }}€</p>

                    <p class="description">Description: {{ centreValDeLoire.information }} </p>

                    <a href="#">Plus d'information</a>
                      
                </div>
            {% endfor %}
        {% endif %}
</div> 
<br>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
