{% extends 'base.html.twig' %}


{% block body %}

<div id="categorieTitle"> 
    <h1>Les offres en informatique</h1>
</div>

<div id="annonces">
        {% if regOcc is empty %}
            Pas d'annonce dans cette région pour le moment
        {% else %}
            {% for occitanie in regOcc %}
                <div id="annonce">
                    <p class="pix"><img src ={{ asset('build/catIT.jpg') }} width="350px" height="200px" alt=""></p>
                    <h3 class="categorie">{{ occitanie.categorie }}</h3>
                    <p class="identity">{{ occitanie.nom }} {{ occitanie.prenom }} - {{ occitanie.region }}</p>
                    <p class="new">Prétentations salariale: {{ occitanie.pretentions }}€</p>

                    <p class="description">Description: {{ occitanie.information }} </p>

                    <a href="#">Plus d'information</a>
                      
                </div>
            {% endfor %}
        {% endif %}

</div> 
<br>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
